[${api_guid}]
    enabled = yes
    allow from = *
    update every = 10
    default history = 86400
    health enabled by default = auto
    default postpone alarms on connect seconds = 60
    multiple connections = allow
